// Colors
$theme-color-blue: #007bff;
$theme-color-indigo: #6610f2;
$theme-color-purple: #6f42c1;
$theme-color-pink: #e83e8c;
$theme-color-red: #dc3545;
$theme-color-orange: #fd7e14;
$theme-color-yellow: #ffc107;
$theme-color-green: #28a745;
$theme-color-teal: #20c997;
$theme-color-cyan: #17a2b8;
$theme-color-white: #fff;
$theme-color-gray: #6c757d;
$theme-color-gray-dark: #343a40;
$theme-color-primary: #3f6ad8;
$theme-color-secondary: #6c757d;
$theme-color-success: #3ac47d;
$theme-color-info: #16aaff;
$theme-color-warning: #f7b924;
$theme-color-danger: #d92550;
$theme-color-light: #eeeeee;
$theme-color-dark: #343a40;

$colors: (
    "blue": $theme-color-blue,
    "indigo": $theme-color-indigo,
    "purple": $theme-color-purple,
    "pink": $theme-color-pink,
    "red": $theme-color-red,
    "orange": $theme-color-orange,
    "yellow": $theme-color-yellow,
    "green": $theme-color-green,
    "teal": $theme-color-teal,
    "cyan": $theme-color-cyan,
    "white": $theme-color-white,
    "gray": $theme-color-gray,
    "gray-dark": $theme-color-gray-dark,
    "primary": $theme-color-primary,
    "secondary": $theme-color-secondary,
    "success": $theme-color-success,
    "info": $theme-color-info,
    "warning": $theme-color-warning,
    "danger": $theme-color-danger,
    "light": $theme-color-light,
    "dark": $theme-color-dark 
);
