:root {
    /* Text */
    --global-text-color-light: #fff;
    --global-text-color-dark: #000;

    /* Background */
    --global-bg-color-default: #fff;
    --global-bg-color-primary: #00b;
    --global-bg-color-secundary: #300;
    --global-bg-color-success: #3a0;
    --global-bg-color-danger: #b00;
    --global-bg-color-info: #55b;

    /* Layouts */
    --layout-aside-width: 200px;
}