.v-card {
    color: var(--global-text-color-dark);
    background-color: var(--global-bg-color-default);
    box-shadow: var(--card-box-shadow);
    overflow: hidden;

    &__header {
        border-bottom: 1px solid rgba(26, 54, 126, 0.125);
    }

    // border-radius: var(--theme-border-radius);
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;


    &-primary>&__header {
        background-color: var(--global-bg-color-primary);
        color: var(--global-text-color-light);
    }

    &-secundary>&__header {
        background-color: var(--global-bg-color-secundary);
        color: var(--global-text-color-light);
    }

    &-success>&__header {
        background-color: var(--global-bg-color-success);
        color: var(--global-text-color-light);
    }

    &-info>&__header {
        background-color: var(--global-bg-color-info);
        color: var(--global-text-color-light);
    }

    &-danger>&__header {
        background-color: var(--global-bg-color-danger);
        color: var(--global-text-color-light);
    }

    &-warning>&__header {
        background-color: var(--global-bg-color-warning);
        color: var(--global-text-color-light);
    }

    &__content {
        padding: var(--card-padding-width);
    }

    &__header {
        padding: calc(var(--card-padding-width) * 0.5);
    }

    &__footer {
        padding: calc(var(--card-padding-width) * 0.5);
    }
}
