.v-icon {

  &--primary {
    color: var(--global-bg-color-primary);
  }

  &--secondary {
    color: var(--global-bg-color-secondary);
  }

  &--success {
    color: var(--global-bg-color-success);
  }

  &--info {
    color: var(--global-bg-color-info);
  }

  &--danger {
    color: var(--global-bg-color-danger);
  }

  &--warning {
    color: var(--global-bg-color-warning);
  }

}
