.flex {
    display: flex;

    &-1 {
        flex-grow: 1;
    }

    &-wrap {
        flex-wrap: wrap;
    }

    &-container {
        flex-wrap: nowrap;
    }
}


/* RESPONSIVE GRID */
$items: 12;
$breakpoints: ('xs': 1px,
    'sm': 1px,
    'md': 1px,
    'lg': 1px,
    'xl': 1px);



.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 1px;
}

/* Extra small devices (phones, 600px and down) */
@mixin break-xs() {
    @media (max-width: 575px) {
        @content;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@mixin break-sm() {
    @media (min-width: 576px) {
        @content;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@mixin break-md() {
    @media (min-width: 768px) {
        @content;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@mixin break-lg() {
    @media (min-width: 992px) {
        @content;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@mixin break-xl() {
    @media (min-width: 1200px) {
        @content;
    }
}

.row > [class^=col-] {
    width: 100%;
}

.col {
    @for $i from 1 through $items {
        &-xs-#{$i} {
            @include break-xs() {
                -webkit-box-flex: 0;
                flex: 0 0 #{$i / $items * 100%};
                max-width: #{$i / $items * 100%};
            }
        }
        &-sm-#{$i} {
            @include break-sm() {
                -webkit-box-flex: 0;
                flex: 0 0 #{$i / $items * 100%};
                max-width: #{$i / $items * 100%};
            }
        }
        &-md-#{$i} {
            @include break-md() {
                -webkit-box-flex: 0;
                flex: 0 0 #{$i / $items * 100%};
                max-width: #{$i / $items * 100%};
            }
        }
        &-lg-#{$i} {
            @include break-lg() {
                -webkit-box-flex: 0;
                flex: 0 0 #{$i / $items * 100%};
                max-width: #{$i / $items * 100%};
            }
        }
        &-xl-#{$i} {
            @include break-xl() {
                -webkit-box-flex: 0;
                flex: 0 0 #{$i / $items * 100%};
                max-width: #{$i / $items * 100%};
            }
        }
    }
}


@include break-xs() {
    .xs-hidden {
        display: none;
    }
}
@include break-sm() {
    .sm-hidden {
        display: none;
    }
}
@include break-md() {
    .md-hidden {
        display: none;
    }
}
@include break-lg() {
    .lg-hidden {
        display: none;
    }
}
@include break-xl() {
    .xl-hidden {
        display: none;
    }
}
