$responsive-breakpoints: (xs: (screen: 576px, width: 100%),
  sm: (screen: 576px, width: 540px),
  md: (screen: 768px, width: 720px),
  lg: (screen: 992px, width: 960px),
  xl: (screen: 1200px, width: 1140px));


.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  @each $name,
  $size in $responsive-breakpoints {
    @media (min-width: map-get($size, 'screen')) {
      max-width: map-get($size, 'width');
    }

  }
}
