.v-navbar {
  box-shadow: var(--navbar-box-shadow);
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);

  &__title {
    width: var(--navbar-title-width);
    height: var(--navbar-height);
    line-height: var(--navbar-height);

    h1 {
      margin: 0;
      margin-left: 10px;
    }
  }

  .v-menu-item {
    float: left;
  }

  .v-button-group {
    margin: 0.75rem 0;
  }

  &__action-icon {
    cursor: pointer;
    line-height: var(--navbar-height);

    &:hover {
      color: var(--global-bg-color-primary);
    }
  }
}
